@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: 'Poppins',sans-serif;
}

body{
  background: white;
}

li{
  list-style: none;
  cursor: pointer;
  position: relative;
}

li:hover::before{
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  background: #2a68ff;
  right: 0;
  bottom: -10px;
  color: #2a68ff;
}

.icon{
  cursor: pointer;
}

.card{
  background: gainsboro;
}


.alert-container {
  margin: 15px;
  display: flex;
}

.symbol-container {
  width: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.symbol {
  font-size: 1.75rem;
}

.description-container {
  font-size: 1.05rem;
  margin: 15px 20px;
  width: 100%;
}

.description-title {
  font-weight: 700;
}

.symbol-close-link {
  margin-top: -10px;
  cursor: pointer;
}